workflow/Integration Webhooks, Supabase.blueprint.json
{
    "name": "Integration Webhooks, Supabase",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2215711,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -127,
                    "y": 38
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "FAX GATEWAY"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "resourceType",
                        "type": "text",
                        "label": "Resource type",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "status",
                        "type": "text",
                        "label": "Status",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "intent",
                        "type": "text",
                        "label": "Intent",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "subject",
                        "spec": [
                            {
                                "help": "",
                                "name": "reference",
                                "type": "text",
                                "label": "Reference",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "display",
                                "type": "text",
                                "label": "Display",
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": "Subject",
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "code",
                        "spec": [
                            {
                                "help": "",
                                "name": "text",
                                "type": "text",
                                "label": "Text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": "Code",
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "note",
                        "spec": {
                            "spec": [
                                {
                                    "help": "",
                                    "name": "text",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                }
                            ],
                            "type": "collection",
                            "required": false
                        },
                        "type": "array",
                        "label": "Note",
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "authoredOn",
                        "type": "text",
                        "label": "Authored on",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "id",
                        "type": "text",
                        "label": "ID",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "meta",
                        "spec": [
                            {
                                "help": "",
                                "name": "versionId",
                                "type": "text",
                                "label": "Version ID",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "lastUpdated",
                                "type": "text",
                                "label": "Last updated",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "help": "",
                                "name": "author",
                                "spec": [
                                    {
                                        "help": "",
                                        "name": "project",
                                        "type": "text",
                                        "label": "Project",
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    }
                                ],
                                "type": "collection",
                                "label": "Author",
                                "required": false
                            },
                            {
                                "help": "",
                                "name": "compartment",
                                "spec": {
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                "type": "array",
                                "label": "Compartment",
                                "required": false
                            }
                        ],
                        "type": "collection",
                        "label": "Meta",
                        "required": false
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "mapper": {
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer 'API KEY'"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "jsonString",
                "jsonStringBodyContent": "{\r\n  \"model\": \"llama-3.3-70b-versatile\",\r\n  \"messages\": [\r\n    {\r\n      \"role\": \"system\",\r\n      \"content\": \"Extract to JSON: patient_name, equipment_type, snomed_code, delivery_address, clinical_context, delivery_address\"\r\n    },\r\n    {\r\n      \"role\": \"user\",\r\n      \"content\": \"Patient: {{1.subject.display}}. Analysis: {{1.note[].text}}. Item: {{1.code.text}}. {{1.note[2].text}}. {{1.note[3].text}}. {{1.note[4].text}}. Snomed: {{1.note[5].text}}\"\r\n    }\r\n  ],\r\n  \"temperature\": 0.1,\r\n  \"response_format\": { \"type\": \"json_object\" }\r\n}"
            },
            "metadata": {
                "designer": {
                    "x": 201,
                    "y": 89
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 350789
            },
            "mapper": {
                "json": "{{9.data.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 504,
                    "y": 129
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "patient_name",
                        "label": "Patient name",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "equipment_type",
                        "label": "Equipment type",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "snomed_code",
                        "label": "Snomed code",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "delivery_address",
                        "label": null,
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 2
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 802,
                    "y": 222
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 29,
                            "module": "supabase:createARow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 8554799
                            },
                            "filter": {
                                "name": "Respiratory",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.equipment_type}}",
                                            "b": "Oxygen",
                                            "o": "text:contain"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{10.equipment_type}}",
                                            "b": "CPAP",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "table": "equipment_orders",
                                "fhir_patient_id": "{{1.id}}",
                                "patient_name": "{{10.patient_name}}",
                                "equipment_type": "{{10.equipment_type}}",
                                "snomed_code": "{{10.snomed_code}}",
                                "vendor_name": "Airgas",
                                "estimated_delivery_days": "1",
                                "delivery_address": "{{10.delivery_address}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1102,
                                    "y": -228
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "HomeBound-DB",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "nested": [
                                                {
                                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "integer",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_patient_id",
                                                    "type": "text",
                                                    "label": "fhir_patient_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_service_request_id",
                                                    "type": "text",
                                                    "label": "fhir_service_request_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "jira_ticket_key",
                                                    "type": "text",
                                                    "label": "jira_ticket_key",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "patient_name",
                                                    "type": "text",
                                                    "label": "patient_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "equipment_type",
                                                    "type": "text",
                                                    "label": "equipment_type",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "snomed_code",
                                                    "type": "text",
                                                    "label": "snomed_code",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "vendor_name",
                                                    "type": "text",
                                                    "label": "vendor_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to Pending. ",
                                                    "name": "order_status",
                                                    "type": "text",
                                                    "label": "order_status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "estimated_delivery_days",
                                                    "type": "integer",
                                                    "label": "estimated_delivery_days",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to now(). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_resource_version",
                                                    "type": "text",
                                                    "label": "fhir_resource_version",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "delivery_address",
                                                    "type": "text",
                                                    "label": "delivery_address",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ],
                                            "label": "equipment_orders"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text"
                                    },
                                    {
                                        "name": "delivery_address",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "id"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text",
                                        "label": "fhir_patient_id"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text",
                                        "label": "fhir_service_request_id"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text",
                                        "label": "jira_ticket_key"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text",
                                        "label": "patient_name"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text",
                                        "label": "equipment_type"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text",
                                        "label": "snomed_code"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text",
                                        "label": "vendor_name"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text",
                                        "label": "order_status"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "number",
                                        "label": "estimated_delivery_days"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text",
                                        "label": "fhir_resource_version"
                                    },
                                    {
                                        "name": "delivery_address",
                                        "type": "text",
                                        "label": "delivery_address"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 34,
                            "module": "jira:createAnIssue",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8556924
                            },
                            "mapper": {
                                "project": "10001",
                                "summary": "New Order: {{10.patient_name}} - {{10.equipment_type}}",
                                "reporter": "712020:52a0a3e6-adb9-45f4-8e17-3676ed2b17d5",
                                "issueType": "10007",
                                "description": "Equipment Code: {{10.snomed_code}}\nPatient Record: {{1.id}}\nInternal Order ID: {{29.id}}",
                                "customFields": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1582,
                                    "y": -231
                                },
                                "restore": {
                                    "expect": {
                                        "labels": {
                                            "mode": "chose"
                                        },
                                        "status": {
                                            "mode": "chose"
                                        },
                                        "project": {
                                            "label": "HomeBound Vendor Fulfillment"
                                        },
                                        "priority": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "reporter": {
                                            "rpcSearch": {
                                                "label": "Paul Kwiatkowski",
                                                "value": "712020:52a0a3e6-adb9-45f4-8e17-3676ed2b17d5"
                                            }
                                        },
                                        "issueType": {
                                            "label": "Task"
                                        },
                                        "customFields": {
                                            "nested": {
                                                "customfield_10021": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "updateHistory": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "jira"
                                            },
                                            "label": "Jira Vendor Fulfillment Creation (homeboundai.atlassian.net - Ace Brown)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:jira",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "project",
                                        "type": "select",
                                        "label": "Project ID",
                                        "required": true
                                    },
                                    {
                                        "name": "updateHistory",
                                        "type": "boolean",
                                        "label": "Update History"
                                    },
                                    {
                                        "name": "issueType",
                                        "type": "select",
                                        "label": "Issue Type ID",
                                        "required": true
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "any",
                                        "label": "Summary",
                                        "required": true
                                    },
                                    {
                                        "name": "description",
                                        "type": "any",
                                        "label": "Description",
                                        "metadata": {
                                            "isDescription": true
                                        }
                                    },
                                    {
                                        "name": "reporter",
                                        "type": "text",
                                        "label": "Reporter",
                                        "metadata": {
                                            "isObjectWithId": true
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "assignee",
                                        "type": "text",
                                        "label": "Assignee",
                                        "metadata": {
                                            "isObjectWithId": true
                                        }
                                    },
                                    {
                                        "name": "duedate",
                                        "type": "date",
                                        "label": "Due date"
                                    },
                                    {
                                        "name": "labels",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Labels"
                                    },
                                    {
                                        "name": "parent",
                                        "type": "text",
                                        "label": "Parent Key",
                                        "metadata": {
                                            "isObjectWithKey": true
                                        }
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "metadata": {
                                            "isObjectWithId": true
                                        }
                                    },
                                    {
                                        "name": "customFields",
                                        "spec": [
                                            {
                                                "name": "customfield_10000",
                                                "type": "any",
                                                "label": "Development"
                                            },
                                            {
                                                "name": "customfield_10001",
                                                "type": "text",
                                                "label": "Team"
                                            },
                                            {
                                                "name": "customfield_10015",
                                                "type": "date",
                                                "label": "Start date"
                                            },
                                            {
                                                "name": "customfield_10019",
                                                "type": "any",
                                                "label": "Rank"
                                            },
                                            {
                                                "name": "customfield_10021",
                                                "type": "select",
                                                "label": "Flagged",
                                                "metadata": {
                                                    "isArrayWithId": true
                                                },
                                                "multiple": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Custom Fields"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 39,
                            "module": "supabase:upsertARecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 8554799
                            },
                            "mapper": {
                                "id": "{{29.id}}",
                                "table": "equipment_orders",
                                "snomed_code": "{{10.snomed_code}}",
                                "patient_name": "{{10.patient_name}}",
                                "equipment_type": "{{10.equipment_type}}",
                                "fhir_patient_id": "{{1.id}}",
                                "jira_ticket_key": "{{34.key}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1882,
                                    "y": -231
                                },
                                "restore": {
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "label": "equipment_orders",
                                            "nested": [
                                                {
                                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "integer",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_patient_id",
                                                    "type": "text",
                                                    "label": "fhir_patient_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_service_request_id",
                                                    "type": "text",
                                                    "label": "fhir_service_request_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "jira_ticket_key",
                                                    "type": "text",
                                                    "label": "jira_ticket_key",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "patient_name",
                                                    "type": "text",
                                                    "label": "patient_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "equipment_type",
                                                    "type": "text",
                                                    "label": "equipment_type",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "snomed_code",
                                                    "type": "text",
                                                    "label": "snomed_code",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "vendor_name",
                                                    "type": "text",
                                                    "label": "vendor_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to Pending. ",
                                                    "name": "order_status",
                                                    "type": "text",
                                                    "label": "order_status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "estimated_delivery_days",
                                                    "type": "integer",
                                                    "label": "estimated_delivery_days",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to now(). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_resource_version",
                                                    "type": "text",
                                                    "label": "fhir_resource_version",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            },
                                            "label": "HomeBound-DB"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "id"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text",
                                        "label": "fhir_patient_id"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text",
                                        "label": "fhir_service_request_id"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text",
                                        "label": "jira_ticket_key"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text",
                                        "label": "patient_name"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text",
                                        "label": "equipment_type"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text",
                                        "label": "snomed_code"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text",
                                        "label": "vendor_name"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text",
                                        "label": "order_status"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "number",
                                        "label": "estimated_delivery_days"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text",
                                        "label": "fhir_resource_version"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 30,
                            "module": "supabase:createARow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 8554799
                            },
                            "filter": {
                                "name": "Mobility/Beds",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.equipment_type}}",
                                            "b": "Bed",
                                            "o": "text:contain"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{10.equipment_type}}",
                                            "b": "Wheelchair",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "table": "equipment_orders",
                                "fhir_patient_id": "{{1.id}}",
                                "patient_name": "{{10.patient_name}}",
                                "equipment_type": "{{10.equipment_type}}",
                                "snomed_code": "{{10.snomed_code}}",
                                "vendor_name": "Hillrom",
                                "estimated_delivery_days": "3",
                                "delivery_address": "{{10.delivery_address}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1094,
                                    "y": 72
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "HomeBound-DB",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "nested": [
                                                {
                                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "integer",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_patient_id",
                                                    "type": "text",
                                                    "label": "fhir_patient_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_service_request_id",
                                                    "type": "text",
                                                    "label": "fhir_service_request_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "jira_ticket_key",
                                                    "type": "text",
                                                    "label": "jira_ticket_key",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "patient_name",
                                                    "type": "text",
                                                    "label": "patient_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "equipment_type",
                                                    "type": "text",
                                                    "label": "equipment_type",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "snomed_code",
                                                    "type": "text",
                                                    "label": "snomed_code",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "vendor_name",
                                                    "type": "text",
                                                    "label": "vendor_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to Pending. ",
                                                    "name": "order_status",
                                                    "type": "text",
                                                    "label": "order_status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "estimated_delivery_days",
                                                    "type": "integer",
                                                    "label": "estimated_delivery_days",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to now(). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_resource_version",
                                                    "type": "text",
                                                    "label": "fhir_resource_version",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "delivery_address",
                                                    "type": "text",
                                                    "label": "delivery_address",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ],
                                            "label": "equipment_orders"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text"
                                    },
                                    {
                                        "name": "delivery_address",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "id"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text",
                                        "label": "fhir_patient_id"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text",
                                        "label": "fhir_service_request_id"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text",
                                        "label": "jira_ticket_key"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text",
                                        "label": "patient_name"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text",
                                        "label": "equipment_type"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text",
                                        "label": "snomed_code"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text",
                                        "label": "vendor_name"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text",
                                        "label": "order_status"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "number",
                                        "label": "estimated_delivery_days"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text",
                                        "label": "fhir_resource_version"
                                    },
                                    {
                                        "name": "delivery_address",
                                        "type": "text",
                                        "label": "delivery_address"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 35,
                            "module": "jira:createAnIssue",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8556924
                            },
                            "mapper": {
                                "project": "10001",
                                "summary": "New Order: {{10.patient_name}} - {{10.equipment_type}}",
                                "reporter": "712020:52a0a3e6-adb9-45f4-8e17-3676ed2b17d5",
                                "issueType": "10007",
                                "description": "Equipment Code: {{10.snomed_code}}\nPatient Record: {{1.id}}\nInternal Order ID: {{30.id}}",
                                "customFields": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1513,
                                    "y": 79
                                },
                                "restore": {
                                    "expect": {
                                        "labels": {
                                            "mode": "chose"
                                        },
                                        "status": {
                                            "mode": "chose"
                                        },
                                        "project": {
                                            "label": "HomeBound Vendor Fulfillment"
                                        },
                                        "priority": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "reporter": {
                                            "rpcSearch": {
                                                "label": "Paul Kwiatkowski",
                                                "value": "712020:52a0a3e6-adb9-45f4-8e17-3676ed2b17d5"
                                            }
                                        },
                                        "issueType": {
                                            "label": "Task"
                                        },
                                        "customFields": {
                                            "nested": {
                                                "customfield_10021": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "updateHistory": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "jira"
                                            },
                                            "label": "Jira Vendor Fulfillment Creation (homeboundai.atlassian.net - Ace Brown)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:jira",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "project",
                                        "type": "select",
                                        "label": "Project ID",
                                        "required": true
                                    },
                                    {
                                        "name": "updateHistory",
                                        "type": "boolean",
                                        "label": "Update History"
                                    },
                                    {
                                        "name": "issueType",
                                        "type": "select",
                                        "label": "Issue Type ID",
                                        "required": true
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "any",
                                        "label": "Summary",
                                        "required": true
                                    },
                                    {
                                        "name": "description",
                                        "type": "any",
                                        "label": "Description",
                                        "metadata": {
                                            "isDescription": true
                                        }
                                    },
                                    {
                                        "name": "reporter",
                                        "type": "text",
                                        "label": "Reporter",
                                        "metadata": {
                                            "isObjectWithId": true
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "assignee",
                                        "type": "text",
                                        "label": "Assignee",
                                        "metadata": {
                                            "isObjectWithId": true
                                        }
                                    },
                                    {
                                        "name": "duedate",
                                        "type": "date",
                                        "label": "Due date"
                                    },
                                    {
                                        "name": "labels",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Labels"
                                    },
                                    {
                                        "name": "parent",
                                        "type": "text",
                                        "label": "Parent Key",
                                        "metadata": {
                                            "isObjectWithKey": true
                                        }
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "metadata": {
                                            "isObjectWithId": true
                                        }
                                    },
                                    {
                                        "name": "customFields",
                                        "spec": [
                                            {
                                                "name": "customfield_10000",
                                                "type": "any",
                                                "label": "Development"
                                            },
                                            {
                                                "name": "customfield_10001",
                                                "type": "text",
                                                "label": "Team"
                                            },
                                            {
                                                "name": "customfield_10015",
                                                "type": "date",
                                                "label": "Start date"
                                            },
                                            {
                                                "name": "customfield_10019",
                                                "type": "any",
                                                "label": "Rank"
                                            },
                                            {
                                                "name": "customfield_10021",
                                                "type": "select",
                                                "label": "Flagged",
                                                "metadata": {
                                                    "isArrayWithId": true
                                                },
                                                "multiple": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Custom Fields"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 40,
                            "module": "supabase:upsertARecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 8554799
                            },
                            "mapper": {
                                "id": "{{30.id}}",
                                "table": "equipment_orders",
                                "snomed_code": "{{10.snomed_code}}",
                                "patient_name": "{{10.patient_name}}",
                                "equipment_type": "{{10.equipment_type}}",
                                "fhir_patient_id": "{{1.id}}",
                                "jira_ticket_key": "{{35.key}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1813,
                                    "y": 79
                                },
                                "restore": {
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "label": "equipment_orders",
                                            "nested": [
                                                {
                                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "integer",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_patient_id",
                                                    "type": "text",
                                                    "label": "fhir_patient_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_service_request_id",
                                                    "type": "text",
                                                    "label": "fhir_service_request_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "jira_ticket_key",
                                                    "type": "text",
                                                    "label": "jira_ticket_key",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "patient_name",
                                                    "type": "text",
                                                    "label": "patient_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "equipment_type",
                                                    "type": "text",
                                                    "label": "equipment_type",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "snomed_code",
                                                    "type": "text",
                                                    "label": "snomed_code",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "vendor_name",
                                                    "type": "text",
                                                    "label": "vendor_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to Pending. ",
                                                    "name": "order_status",
                                                    "type": "text",
                                                    "label": "order_status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "estimated_delivery_days",
                                                    "type": "integer",
                                                    "label": "estimated_delivery_days",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to now(). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_resource_version",
                                                    "type": "text",
                                                    "label": "fhir_resource_version",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            },
                                            "label": "HomeBound-DB"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "id"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text",
                                        "label": "fhir_patient_id"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text",
                                        "label": "fhir_service_request_id"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text",
                                        "label": "jira_ticket_key"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text",
                                        "label": "patient_name"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text",
                                        "label": "equipment_type"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text",
                                        "label": "snomed_code"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text",
                                        "label": "vendor_name"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text",
                                        "label": "order_status"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "number",
                                        "label": "estimated_delivery_days"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text",
                                        "label": "fhir_resource_version"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 31,
                            "module": "supabase:createARow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 8554799
                            },
                            "mapper": {
                                "table": "equipment_orders",
                                "fhir_patient_id": "{{1.id}}",
                                "patient_name": "{{10.patient_name}}",
                                "equipment_type": "{{10.equipment_type}}",
                                "snomed_code": "{{10.snomed_code}}",
                                "vendor_name": "General Medical Supply",
                                "estimated_delivery_days": "5",
                                "delivery_address": "{{10.delivery_address}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1102,
                                    "y": 372
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "HomeBound-DB",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "nested": [
                                                {
                                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "integer",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_patient_id",
                                                    "type": "text",
                                                    "label": "fhir_patient_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_service_request_id",
                                                    "type": "text",
                                                    "label": "fhir_service_request_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "jira_ticket_key",
                                                    "type": "text",
                                                    "label": "jira_ticket_key",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "patient_name",
                                                    "type": "text",
                                                    "label": "patient_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "equipment_type",
                                                    "type": "text",
                                                    "label": "equipment_type",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "snomed_code",
                                                    "type": "text",
                                                    "label": "snomed_code",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "vendor_name",
                                                    "type": "text",
                                                    "label": "vendor_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to Pending. ",
                                                    "name": "order_status",
                                                    "type": "text",
                                                    "label": "order_status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "estimated_delivery_days",
                                                    "type": "integer",
                                                    "label": "estimated_delivery_days",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to now(). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_resource_version",
                                                    "type": "text",
                                                    "label": "fhir_resource_version",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "delivery_address",
                                                    "type": "text",
                                                    "label": "delivery_address",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ],
                                            "label": "equipment_orders"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text"
                                    },
                                    {
                                        "name": "delivery_address",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "id"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text",
                                        "label": "fhir_patient_id"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text",
                                        "label": "fhir_service_request_id"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text",
                                        "label": "jira_ticket_key"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text",
                                        "label": "patient_name"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text",
                                        "label": "equipment_type"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text",
                                        "label": "snomed_code"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text",
                                        "label": "vendor_name"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text",
                                        "label": "order_status"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "number",
                                        "label": "estimated_delivery_days"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text",
                                        "label": "fhir_resource_version"
                                    },
                                    {
                                        "name": "delivery_address",
                                        "type": "text",
                                        "label": "delivery_address"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 36,
                            "module": "jira:createAnIssue",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8556924
                            },
                            "mapper": {
                                "project": "10001",
                                "summary": "New Order: {{10.patient_name}} - {{10.equipment_type}}",
                                "reporter": "712020:52a0a3e6-adb9-45f4-8e17-3676ed2b17d5",
                                "issueType": "10007",
                                "description": "Equipment Code: {{10.snomed_code}}\nPatient Record: {{1.id}}\nInternal Order ID: {{31.id}}",
                                "customFields": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1528,
                                    "y": 373
                                },
                                "restore": {
                                    "expect": {
                                        "labels": {
                                            "mode": "chose"
                                        },
                                        "status": {
                                            "mode": "chose"
                                        },
                                        "project": {
                                            "label": "HomeBound Vendor Fulfillment"
                                        },
                                        "priority": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "reporter": {
                                            "rpcSearch": {
                                                "label": "Paul Kwiatkowski",
                                                "value": "712020:52a0a3e6-adb9-45f4-8e17-3676ed2b17d5"
                                            }
                                        },
                                        "issueType": {
                                            "label": "Task"
                                        },
                                        "customFields": {
                                            "nested": {
                                                "customfield_10021": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "updateHistory": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "jira"
                                            },
                                            "label": "Jira Vendor Fulfillment Creation (homeboundai.atlassian.net - Ace Brown)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:jira",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "project",
                                        "type": "select",
                                        "label": "Project ID",
                                        "required": true
                                    },
                                    {
                                        "name": "updateHistory",
                                        "type": "boolean",
                                        "label": "Update History"
                                    },
                                    {
                                        "name": "issueType",
                                        "type": "select",
                                        "label": "Issue Type ID",
                                        "required": true
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "any",
                                        "label": "Summary",
                                        "required": true
                                    },
                                    {
                                        "name": "description",
                                        "type": "any",
                                        "label": "Description",
                                        "metadata": {
                                            "isDescription": true
                                        }
                                    },
                                    {
                                        "name": "reporter",
                                        "type": "text",
                                        "label": "Reporter",
                                        "metadata": {
                                            "isObjectWithId": true
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "assignee",
                                        "type": "text",
                                        "label": "Assignee",
                                        "metadata": {
                                            "isObjectWithId": true
                                        }
                                    },
                                    {
                                        "name": "duedate",
                                        "type": "date",
                                        "label": "Due date"
                                    },
                                    {
                                        "name": "labels",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Labels"
                                    },
                                    {
                                        "name": "parent",
                                        "type": "text",
                                        "label": "Parent Key",
                                        "metadata": {
                                            "isObjectWithKey": true
                                        }
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "metadata": {
                                            "isObjectWithId": true
                                        }
                                    },
                                    {
                                        "name": "customFields",
                                        "spec": [
                                            {
                                                "name": "customfield_10000",
                                                "type": "any",
                                                "label": "Development"
                                            },
                                            {
                                                "name": "customfield_10001",
                                                "type": "text",
                                                "label": "Team"
                                            },
                                            {
                                                "name": "customfield_10015",
                                                "type": "date",
                                                "label": "Start date"
                                            },
                                            {
                                                "name": "customfield_10019",
                                                "type": "any",
                                                "label": "Rank"
                                            },
                                            {
                                                "name": "customfield_10021",
                                                "type": "select",
                                                "label": "Flagged",
                                                "metadata": {
                                                    "isArrayWithId": true
                                                },
                                                "multiple": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Custom Fields"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 41,
                            "module": "supabase:upsertARecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 8554799
                            },
                            "mapper": {
                                "id": "{{31.id}}",
                                "table": "equipment_orders",
                                "snomed_code": "{{10.snomed_code}}",
                                "patient_name": "{{10.patient_name}}",
                                "equipment_type": "{{10.equipment_type}}",
                                "fhir_patient_id": "{{1.id}}",
                                "jira_ticket_key": "{{36.key}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1828,
                                    "y": 373
                                },
                                "restore": {
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "label": "equipment_orders",
                                            "nested": [
                                                {
                                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "integer",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_patient_id",
                                                    "type": "text",
                                                    "label": "fhir_patient_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_service_request_id",
                                                    "type": "text",
                                                    "label": "fhir_service_request_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "jira_ticket_key",
                                                    "type": "text",
                                                    "label": "jira_ticket_key",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "patient_name",
                                                    "type": "text",
                                                    "label": "patient_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "equipment_type",
                                                    "type": "text",
                                                    "label": "equipment_type",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "snomed_code",
                                                    "type": "text",
                                                    "label": "snomed_code",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "vendor_name",
                                                    "type": "text",
                                                    "label": "vendor_name",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to Pending. ",
                                                    "name": "order_status",
                                                    "type": "text",
                                                    "label": "order_status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "estimated_delivery_days",
                                                    "type": "integer",
                                                    "label": "estimated_delivery_days",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to now(). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "fhir_resource_version",
                                                    "type": "text",
                                                    "label": "fhir_resource_version",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            },
                                            "label": "HomeBound-DB"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "integer"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "id"
                                    },
                                    {
                                        "name": "fhir_patient_id",
                                        "type": "text",
                                        "label": "fhir_patient_id"
                                    },
                                    {
                                        "name": "fhir_service_request_id",
                                        "type": "text",
                                        "label": "fhir_service_request_id"
                                    },
                                    {
                                        "name": "jira_ticket_key",
                                        "type": "text",
                                        "label": "jira_ticket_key"
                                    },
                                    {
                                        "name": "patient_name",
                                        "type": "text",
                                        "label": "patient_name"
                                    },
                                    {
                                        "name": "equipment_type",
                                        "type": "text",
                                        "label": "equipment_type"
                                    },
                                    {
                                        "name": "snomed_code",
                                        "type": "text",
                                        "label": "snomed_code"
                                    },
                                    {
                                        "name": "vendor_name",
                                        "type": "text",
                                        "label": "vendor_name"
                                    },
                                    {
                                        "name": "order_status",
                                        "type": "text",
                                        "label": "order_status"
                                    },
                                    {
                                        "name": "estimated_delivery_days",
                                        "type": "number",
                                        "label": "estimated_delivery_days"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "fhir_resource_version",
                                        "type": "text",
                                        "label": "fhir_resource_version"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}